<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p id="username"></p>
    <p>Total Score:</p>
    <p id="user-score"></p>
    <p>Total Time:</p>
    <p id="user-time"></p>
    <div id="ranking">
        <table id="rank-table">
            <thead>
                <tr>
                    <td>Username</td>
                    <td>Total Score</td>
                    <td>Total Time</td>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <script src="../asset/js/ranking.js"></script>
</body>
</html>